/** @format */

.form-control:hover {
  border-color: #343a40;
  box-shadow: 0 0 0 0.1rem #343a40;
}

.form-control:focus {
  border-color: #343a40;
  box-shadow: 0 0 0 0.1rem #343a40;
}

.nav-tabs .nav-link:focus {
  border-bottom: 1px solid #343a40;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
